@charset 'UTF-8';

*{
    margin: 0px;
    padding: 0px;
    font: arial, sans-serif;
}

html, body{
    height: 100vh;
    width: 100vw;
}
body{
    background-image: url('../imagens/fundo-madeira.jpg');
    background-size: cover;
    background-attachment: fixed;
}

main{
    height: 100vh;
    position: relative;
}

#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    height: 627px;
    width: 311px;
    background-image: url('../imagens/frame-iphone.png');
}